Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

.gitlab-ci.yml:

stages:
  - trigger

cloud_backend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - BackEnd/cloud/**  # BackEnd/cloud 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - FrontEnd_Cloud/**  # FrontEnd_Cloud 폴더 경로 모니터링
      when: always
    # - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"


onpremise_backend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - BackEnd/onpremise/**  # BackEnd/onpremise 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - FrontEnd/**  # FrontEnd 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

chore: add env when build
  FrontEnd/jenkinsfile
  FrontEnd_Cloud/dockerfile
  FrontEnd_Cloud/jenkinsfile
Due: cloud_frontend_webhook_trigger, onpremise_frontend_webhook_trigger

feat : 환자히스토리 스크롤바 추가
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/apis/fetchLogin.ts
  FrontEnd/src/components/Header/Header.tsx
  FrontEnd/src/components/PatientDB/PatientDB.stories.tsx
  FrontEnd/src/components/PatientHistory/PatientHistory.module.scss
  FrontEnd/src/components/PatientHistory/PatientHistory.tsx
Due: onpremise_frontend_webhook_trigger

feat: 로그아웃 API 연결
  FrontEnd/src/apis/fetchLogout.ts
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd/src/components/Header/Header.tsx
  FrontEnd/src/redux/features/user/userSlice.ts
Due: none

fix : 모달 범위 및 환자 히스토리 스크롤 구현
  FrontEnd/src/app/main/components/Input.tsx
Due: none

fix: patient debug
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/controller/ChatController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/domain/Chat.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/response/ChatResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatDocument.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/repository/ChatRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/controller/PatientController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/entity/PatientEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticSearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/JacksonConfig.java
Due: none

feat: chat init
  BackEnd/onpremise/build.gradle
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/controller/ChatController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/domain/Chat.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/request/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/request/ChatRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/response/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/exception/MemberNotFoundException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/exception/ValidateMemberException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/KafkaConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/exception/GlobalExceptionHandler.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/kafka/consumer/KafkaConsumer.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/kafka/producer/KafkaProducer.java
Due: onpremise_backend_webhook_trigger

feat: add catch exception logic
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/controller/CorporateController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/exception/CorporateNotFoundException.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/member/controller/MemberController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/member/exception/InvalidPasswordException.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/member/exception/MemberNotFoundException.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/exception/GlobalExceptionHandler.java
Due: none

feat: 사이드바 반응형 적용, px 안된거 수정
  FrontEnd/src/app/chat/[id]/page.module.scss
  FrontEnd/src/app/login/page.tsx
  FrontEnd/src/app/page.tsx
  FrontEnd/src/app/regist/page.tsx
  FrontEnd/src/components/Header/Header.tsx
  FrontEnd/src/components/SideBar/SideBar.module.scss
  FrontEnd/src/components/SideBar/SideBar.tsx
Due: none

feat: 리포트 pdf 변환 및 다운로드
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/apis/fetchPDF.ts
  FrontEnd/src/app/api/generate-pdf/route.ts
  FrontEnd/src/app/chat/[id]/components/report/ExportModal.tsx
  FrontEnd/src/app/pdf/[reportId]/page.module.scss
  FrontEnd/src/app/pdf/[reportId]/page.tsx
Due: onpremise_frontend_webhook_trigger

fix: api url 변경
  FrontEnd/src/apis/fetchPDF.ts
Due: none

feat: add chat test module
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/controller/ChatController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/domain/Chat.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/request/ChatRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/exception/ChatNotFoundException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/controller/ReportController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/entity/ReportDocument.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/exception/GlobalExceptionHandler.java
Due: none

fix: fix errors when testing api
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/controller/CorporateController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/service/CorporateService.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/service/CorporateServiceImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repository/UsageRepository.java
Due: none

feat: add report domain
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/controller/ReportController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/domain/Report.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/request/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/request/ReportRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/response/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/response/ReportResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/entity/ReportDocument.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/entity/ReportEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/exception/InvalidReportException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/exception/ReportNotFoundException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/repository/ReportRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/exception/GlobalExceptionHandler.java
Due: none

fix: fix errors when testing api
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/controller/CorporateController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/controller/UsageController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/consumer/UsageConsumer.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/dto/UsageResponseDto.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/producer/UsageProducer.java
Due: none

fix: fix errors when testing api
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/producer/UsageProducer.java
Due: none

feat: add kafakOffset
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/consumer/KafkaOffsetMonitorController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/service/KafkaOffsetMonitor.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/service/KafkaService.java
Due: none

fix: config setting
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/config/KafkaConfig.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/service/KafkaOffsetMonitor.java
Due: none

fix : tab 반응형 구현
  FrontEnd/src/app/main/components/Diagnosis/ChatLayout.tsx
  FrontEnd/src/components/Header/Header.tsx
Due: none

feat: 마이페이지 추가
  FrontEnd/src/app/mypage/components/MyPageInfo/MyPageInfo.tsx
  FrontEnd/src/app/mypage/components/MyPageTab/MyPageTab.module.scss
  FrontEnd/src/app/mypage/components/MyPageTab/MyPageTab.tsx
  FrontEnd/src/app/mypage/components/MyPageTitle/MyPageTitle.module.scss
  FrontEnd/src/app/mypage/components/MyPageTitle/MyPageTitle.tsx
  FrontEnd/src/app/mypage/components/NameInput/NameInput.module.scss
  FrontEnd/src/app/mypage/components/NameInput/NameInput.tsx
  FrontEnd/src/app/mypage/components/PWInput/PWInput.module.scss
  FrontEnd/src/app/mypage/components/PWInput/PWInput.tsx
  FrontEnd/src/app/mypage/components/Plan/Plan.module.scss
  FrontEnd/src/app/mypage/components/Plan/Plan.tsx
  FrontEnd/src/app/mypage/components/RemainBar/RemainBar.module.scss
  FrontEnd/src/app/mypage/components/RemainBar/RemainBar.tsx
  FrontEnd/src/app/mypage/components/UserProfile/UserProfile.module.scss
  FrontEnd/src/app/mypage/components/UserProfile/UserProfile.tsx
  FrontEnd/src/app/mypage/layout.tsx
  FrontEnd/src/app/mypage/page.module.scss
  FrontEnd/src/app/mypage/page.tsx
Due: none
