Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

.gitlab-ci.yml:

stages:
  - trigger

cloud_backend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - BackEnd/cloud/**  # BackEnd/cloud 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - FrontEnd_Cloud/**  # FrontEnd_Cloud 폴더 경로 모니터링
      when: always
    # - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"


onpremise_backend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - BackEnd/onpremise/**  # BackEnd/onpremise 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - FrontEnd/**  # FrontEnd 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

chore: fix pending error
  .gitlab-ci.yml
Due: none

chore: fix trigger pending error
  .gitlab-ci.yml
Due: none

chore: fix ci cd error
  .gitlab-ci.yml
Due: none

chore: test ci cd
  FrontEnd_Cloud/jenkinsfile
Due: cloud_frontend_webhook_trigger

feat : 메인페이지 tab 구현
  FrontEnd/src/app/alarm/components/Item.module.scss
  FrontEnd/src/app/alarm/components/Item.tsx
  FrontEnd/src/app/alarm/components/ReadButton.module.scss
  FrontEnd/src/app/alarm/components/ReadButton.stories.tsx
  FrontEnd/src/app/alarm/components/ReadButton.tsx
  FrontEnd/src/app/alarm/page.module.scss
  FrontEnd/src/app/alarm/page.tsx
  FrontEnd/src/app/main/[id]/page.module.scss
  FrontEnd/src/app/main/components/checkIndex.tsx
  FrontEnd/src/app/main/layout.tsx
  FrontEnd/src/app/main/page.tsx
  FrontEnd/src/components/Tabs/Tab.stories.tsx
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.module.scss
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.stories.tsx
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.tsx
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.module.scss
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.stories.tsx
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.tsx
  FrontEnd/src/redux/features/tab/tabSlice.ts
Due: none

feat: ClientListAPI 추가
  FrontEnd_Cloud/src/apis/fetchClientDetail.ts
  FrontEnd_Cloud/src/apis/fetchClientList.ts
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientBtn/ClientBtn.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/page.tsx
  FrontEnd_Cloud/src/app/main/components/ClientListBox/ClientListBox.tsx
  FrontEnd_Cloud/src/app/main/components/ClientListItem/ClientListItem.tsx
Due: none

feat : tab url 이동 및 리다이렉트 구현
  FrontEnd/src/app/alarm/layout.tsx
  FrontEnd/src/app/main/[id]/layout.tsx
  FrontEnd/src/app/main/[id]/page.tsx
  FrontEnd/src/app/main/components/checkIndex.tsx
  FrontEnd/src/app/main/page.tsx
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.module.scss
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.tsx
Due: none

test: test gitlab runner
  FrontEnd_Cloud/jenkinsfile
Due: cloud_frontend_webhook_trigger

chore: test gitlab ci cd
  .gitlab-ci.yml
Due: none

feat: patient domain add
  BackEnd/onpremise/build.gradle
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/controller/PatientController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/domain/Gender.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/domain/Modality.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/domain/Patient.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/PatientResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/entity/PatientEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepositoryCustom.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepositoryImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticsearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/SecurityConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/elastic/ElasticException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/redis/service/RedisService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/redis/service/RedisServiceImpl.java
Due: onpremise_backend_webhook_trigger

chore: fix all trigger
  .gitlab-ci.yml
Due: none

feat: patient regist add
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/controller/PatientController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/request/PatientRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/response/PatientResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/entity/PatientEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
Due: none

chore: feat ci cd for frontend_onpremise
  FrontEnd/dockerfile
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: fix ci cd script
  FrontEnd/dockerfile
Due: onpremise_frontend_webhook_trigger

chore: test trigger
  .gitlab-ci.yml
Due: none

chore: feat onpremise build file
  BackEnd/onpremise/dockerfile
  BackEnd/onpremise/jenkinsfile
Due: onpremise_backend_webhook_trigger

chore: fix git alert channel
  BackEnd/cloud/jenkinsfile
Due: cloud_backend_webhook_trigger

chore: fix comment
  .gitlab-ci.yml
Due: none
