Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

cloud_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

onpremise_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

feat : 환자 db 연결 및 스토리북 추가
  FrontEnd/src/app/main/components/Input.tsx
  FrontEnd/src/components/PatientDB/PatientDB.module.scss
  FrontEnd/src/components/PatientDB/PatientDB.stories.tsx
  FrontEnd/src/components/PatientDB/PatientDB.tsx
Due: none

fix: cors setting
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/SecurityConfig.java
Due: none

fix: cors setting
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/CorsConfig.java
Due: none

fix: 설정 변경 및 로그인 실패시 안내 문구 추가
  FrontEnd/next.config.js
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
Due: onpremise_frontend_webhook_trigger

fix: cors setting
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/CorsConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/SecurityConfig.java
Due: none

fix: login
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/controller/MemberController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/response/LoginResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
Due: none

feat: 로그인 API 연결
  FrontEnd/src/apis/fetchLogin.ts
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd/src/redux/features/user/userSlice.ts
  FrontEnd/src/redux/store/store.ts
Due: none

chore: change env name
  FrontEnd/jenkinsfile
  FrontEnd_Cloud/jenkinsfile
Due: cloud_frontend_webhook_trigger, onpremise_frontend_webhook_trigger

feat: 채팅 페이지 반응형 구현
  FrontEnd/src/app/chat/[id]/components/chat/MessageList.module.scss
  FrontEnd/src/app/chat/[id]/components/report/Diagnosis.tsx
  FrontEnd/src/app/chat/[id]/components/report/EditModal.module.scss
  FrontEnd/src/app/chat/[id]/components/report/ExportModal.module.scss
  FrontEnd/src/app/chat/[id]/components/report/ExportModal.tsx
  FrontEnd/src/app/chat/[id]/components/report/ImageSection.tsx
  FrontEnd/src/app/chat/[id]/components/report/PatientInfo.tsx
  FrontEnd/src/app/chat/[id]/components/report/PluginInfo.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportBtn.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportData.module.scss
  FrontEnd/src/app/chat/[id]/components/report/ReportInfo.tsx
  FrontEnd/src/app/chat/[id]/components/report/Summary.tsx
  FrontEnd/src/app/chat/[id]/page.module.scss
  FrontEnd/src/app/chat/[id]/page.tsx
  FrontEnd/src/components/SideBar/SideBar.tsx
  FrontEnd/tailwind.config.ts
Due: onpremise_frontend_webhook_trigger

feat: 회원가입 API 연결
  FrontEnd/src/apis/fetchLogin.ts
  FrontEnd/src/apis/fetchLogout.ts
  FrontEnd/src/apis/fetchRegist.ts
  FrontEnd/src/apis/index.ts
  FrontEnd/src/app/regist/components/RegistInput/RegistInput.tsx
Due: none

fix: 쿼리 메서드 수정 및 오류 해결
  BackEnd/cloud/build.gradle
  BackEnd/cloud/src/main/java/com/newmes/cloud/CloudApplication.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/controller/UsageController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/AgentAggregationResult.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/AgentCounts.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/CountResponse.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/MonthlyResponse.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/WeeklyResponse.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/YearlyResponse.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/CustomRepository.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/CustomRepositoryImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/ElasticUsageRepository.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageService.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageServiceImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/config/ElasticSearchConfig.java
Due: cloud_backend_webhook_trigger

fix: 사용량 반환 형식 변경
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/controller/UsageController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/CountResponse.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/CustomRepositoryImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageService.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageServiceImpl.java
Due: none

fix: 고객 사용량 조회시 사용할 식별문자 명 corpKey로 변경
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/CustomRepositoryImpl.java
Due: none

refactor: 빠진 부분 보충
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/CustomRepositoryImpl.java
Due: none

chore: copy env file when build
  FrontEnd/dockerfile
Due: onpremise_frontend_webhook_trigger

chore: add copy env
  FrontEnd/dockerfile
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: add copy env
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

Path conditions:
  cloud_backend_webhook_trigger: any of: BackEnd/cloud/**
  cloud_frontend_webhook_trigger: any of: FrontEnd_Cloud/**
  onpremise_backend_webhook_trigger: any of: BackEnd/onpremise/**
  onpremise_frontend_webhook_trigger: any of: FrontEnd/**
