Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

cloud_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

onpremise_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

fix: 나가기 버튼 추가
  FrontEnd/src/app/test/page.tsx
  FrontEnd/src/components/PatientDB/PatientDB.tsx
Due: none

chore: remove basepath
  FrontEnd/next.config.js
Due: onpremise_frontend_webhook_trigger

feat: 내보내기 모달 추가, tailwind breakpoint 추가
  FrontEnd/src/app/chat/[id]/components/chat/ChatInput.module.scss
  FrontEnd/src/app/chat/[id]/components/report/EditModal.tsx
  FrontEnd/src/app/chat/[id]/components/report/ExportModal.module.scss
  FrontEnd/src/app/chat/[id]/components/report/ExportModal.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportBtn.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportData.module.scss
  FrontEnd/src/app/chat/[id]/components/report/Summary.tsx
  FrontEnd/src/app/chat/[id]/page.module.scss
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.module.scss
  FrontEnd/tailwind.config.ts
Due: onpremise_frontend_webhook_trigger

feat: 환자 History 모달 추가
  FrontEnd/src/components/PatientHistory/PatientHistory.module.scss
  FrontEnd/src/components/PatientHistory/PatientHistory.tsx
Due: none

feat: onpremise member domain add
  BackEnd/onpremise/build.gradle
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/controller/MemberController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/domain/Member.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/domain/Token.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/request/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/request/LoginRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/request/MemberRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/response/.gitkeep
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/dto/response/MemberResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/entity/MemberEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/exception/ValidateMemberException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/repository/MemberRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/entity/PatientEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticsearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/security/jwt/JwtUtil.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/util/MemberInfo.java
Due: onpremise_backend_webhook_trigger

fix: 서버 컴포넌트에서 fetch 시 캐싱 미사용 설정
  FrontEnd_Cloud/src/apis/fetchClientList.ts
Due: none

feat: Chat, Report 기능 일부 구현
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/controller/ChatController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/dto/request/ChatRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/entity/ChatDocument.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/repository/ChatRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/chat/service/ChatServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/controller/ReportController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/request/CommentRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/request/ReportRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/dto/request/UpdateSummaryRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/entity/ReportDocument.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/repository/ReportRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportServiceImpl.java
Due: none

fix: param -> body
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/controller/MemberController.java
Due: none

fix: Error log 버튼 삭제
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientBtn/ClientBtn.tsx
Due: none

fix: basePath 추가
  FrontEnd/next.config.js
Due: onpremise_frontend_webhook_trigger

feat: corporateList add, key crud add
  BackEnd/cloud/src/main/java/com/newmes/cloud/CloudApplication.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/controller/CorporateController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/domain/Corporate.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/dto/response/CorporateListResponseDto.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/entity/CorporateEntity.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/service/CorporateService.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/corporate/service/CorporateServiceImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/entity/BaseTimeEntity.java
Due: none

fix: cors setting
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/service/ReportServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/CorsConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticSearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticsearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/SecurityConfig.java
Due: none

fix: cors setting
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/CorsConfig.java
Due: none

fix: error fix
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/config/ElasticSearchConfig.java
Due: none

feat: 회원가입 시 입력된 값이 올바른 값인지 판단하고 형식이 틀린 값이 들어오면 경고문구 표시
  FrontEnd/src/apis/fetchLogin.ts
  FrontEnd/src/apis/fetchRegist.ts
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd/src/app/regist/components/RegistInput/RegistInput.tsx
  FrontEnd/src/hooks/useCheckCfPassword.ts
  FrontEnd/src/hooks/useCheckEmail.ts
  FrontEnd/src/hooks/useCheckName.ts
  FrontEnd/src/hooks/useCheckPassword.ts
Due: none

fix: redis debug
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/RedisConfig.java
Due: none

feat : 환자 히스토리 컴포넌트 연결
  FrontEnd/src/components/Header/Header.module.scss
  FrontEnd/src/components/Header/Header.tsx
  FrontEnd/src/components/PatientHistory/PatientHistory.module.scss
  FrontEnd/src/components/PatientHistory/PatientHistory.stories.tsx
  FrontEnd/src/components/PatientHistory/PatientHistory.tsx
Due: none

fix: properties env setting
  BackEnd/onpremise/src/main/resources/application.properties
Due: none

fix: endpoint edit
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/controller/MemberController.java
Due: none

fix: properties
  BackEnd/onpremise/src/main/resources/application.properties
Due: none

Path conditions:
  cloud_backend_webhook_trigger: any of: BackEnd/cloud/**
  cloud_frontend_webhook_trigger: any of: FrontEnd_Cloud/**
  onpremise_backend_webhook_trigger: any of: BackEnd/onpremise/**
  onpremise_frontend_webhook_trigger: any of: FrontEnd/**
