Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_webhook_trigger, frontend_webhook_trigger

.gitlab-ci.yml:

stages:
  - trigger

backend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - BackEnd/cloud/**  # BackEnd/cloud 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

frontend_webhook_trigger:
  stage: trigger
  rules:
    - changes:
        - FrontEnd_Cloud/**  # FrontEnd_Cloud 폴더 경로 모니터링
      when: always
    - if: '$CI_COMMIT_REF_NAME == "develop"'  # 브랜치 조건
  script:
    - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

chore: fix build file
  FrontEnd_Cloud/dockerfile
Due: frontend_webhook_trigger

feat : 검색바,플러그인 선택 구현
  FrontEnd/src/app/main/[id]/page.module.scss
  FrontEnd/src/app/main/[id]/page.tsx
  FrontEnd/src/app/main/components/Input.module.scss
  FrontEnd/src/app/main/components/Input.tsx
  FrontEnd/src/assets/images/capsule.svg
  FrontEnd/src/components/Tabs/Tab.tsx
  FrontEnd/src/components/Tabs/TabBoard.tsx
  FrontEnd/src/components/Tabs/components/SelectTabIcons.tsx
Due: none

chore: fix build script
  FrontEnd_Cloud/dockerfile
Due: frontend_webhook_trigger

chore: feat onpremise trigger
  .gitlab-ci.yml
Due: none

fix : 플러그인 css 수정
  FrontEnd/src/app/main/[id]/page.module.scss
Due: none

feat : 스토리북 페이지 테스트 구현
  FrontEnd/.storybook/main.ts
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/app/main/[id]/page.stories.tsx
  FrontEnd/src/app/main/[id]/page.tsx
  FrontEnd/src/app/main/alarm/components/ReadButton.stories.tsx
  FrontEnd/src/assets/images/cxr.svg
  FrontEnd/src/components/Button.css
  FrontEnd/src/components/Button.stories.tsx
  FrontEnd/src/components/Button.tsx
  FrontEnd/src/components/ColorPalette.stories.tsx
  FrontEnd/src/components/Tabs/Tab.tsx
  FrontEnd/src/components/Tabs/TabBoard.stories.tsx
  FrontEnd/src/components/Tabs/components/SelectTabIcons.tsx
Due: none

fix: 서버에서 tailwindcss 적용 안되는 문제 해결
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientBtn/ClientBtn.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientPlugInUsage/ClientPlugInUsage.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientRequest/ClientRequest.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/components/LogModal/LogModal.tsx
  FrontEnd_Cloud/src/app/main/components/ClientAdd/ClientAdd.tsx
  FrontEnd_Cloud/src/app/main/components/ClientListBox/ClientListBox.tsx
  FrontEnd_Cloud/src/app/main/components/ClientListItem/ClientListItem.tsx
  FrontEnd_Cloud/src/app/main/components/GraphBox/GraphBox.tsx
  FrontEnd_Cloud/src/app/main/components/UsageByModule/UsageByModule.tsx
  FrontEnd_Cloud/src/app/page.tsx
  FrontEnd_Cloud/src/components/Header/Header.tsx
Due: none

chore: fix git alert channel
  BackEnd/cloud/jenkinsfile
  FrontEnd_Cloud/jenkinsfile
Due: backend_webhook_trigger, frontend_webhook_trigger

fix: tailwindcss
  FrontEnd_Cloud/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd_Cloud/src/app/login/page.tsx
Due: none

fix: tailwindcss
  FrontEnd_Cloud/src/app/login/components/LoginInput/LoginInput.tsx
Due: none

chore: test webhook triger
  .gitlab-ci.yml
Due: none

chore: test trigger
  FrontEnd_Cloud/jenkinsfile
Due: frontend_webhook_trigger

chore: fix file name
  .gitlab-cli.yml
Due: none

chore: fix if for trigger
  .gitlab-cli.yml
Due: none

feat: 리포트 데이터 컴포넌트 분리, 리포트 영역 스크롤바 추가, 버튼 css 수정
  FrontEnd/src/app/chat/[id]/components/chat/ChatInput.module.scss
  FrontEnd/src/app/chat/[id]/components/chat/ChatInput.tsx
  FrontEnd/src/app/chat/[id]/components/report/Diagnosis.tsx
  FrontEnd/src/app/chat/[id]/components/report/ImageSection.tsx
  FrontEnd/src/app/chat/[id]/components/report/PatientInfo.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportBtn.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportData.module.scss
  FrontEnd/src/app/chat/[id]/components/report/ReportData.tsx
  FrontEnd/src/app/chat/[id]/page.module.scss
  FrontEnd/src/app/chat/[id]/page.tsx
Due: none

chore: fix file name
  .gitlab-ci.yml
Due: none

chore: fix pipeline pending error
  .gitlab-ci.yml
Due: none
