Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

cloud_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

onpremise_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

chore: change server
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: move server
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: delete log
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: transfer server
  .gitlab-ci.yml
Due: none

chore: change port
  FrontEnd/dockerfile
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: add trigger token
  .gitlab-ci.yml
Due: none

chore: change port
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

chore: change variable for trigger
  .gitlab-ci.yml
Due: none

chore: add trigger
  .gitlab-ci.yml
Due: none

chore: add crumb for trigger
  .gitlab-ci.yml
Due: none

chore: change crumb variable
  .gitlab-ci.yml
Due: none

chore: fix type
  .gitlab-ci.yml
Due: none

chore: fix git alert channel
  BackEnd/cloud/jenkinsfile
Due: cloud_backend_webhook_trigger

feat : sse 에러발생시 5초뒤 재요청 로직 구현
  FrontEnd/src/app/main/components/Diagnosis/ChatLayout.tsx
  FrontEnd/src/app/main/layout.tsx
  FrontEnd/src/components/Alarm/SEEHandler.tsx
  FrontEnd/src/components/PatientDB/PatientDB.tsx
Due: none

feat: 비밀번호 수정 api 연결 중
  FrontEnd/src/apis/user.ts
  FrontEnd/src/app/mypage/components/NameInput/NameInput.tsx
  FrontEnd/src/app/mypage/components/PWInput/PWInput.tsx
Due: none

feat : 모달리티 모달 구현
  FrontEnd/src/components/PatientDB/Modality.module.scss
  FrontEnd/src/components/PatientDB/Modality.tsx
  FrontEnd/src/components/PatientDB/PatientDB.tsx
  FrontEnd/src/redux/features/main/mainSlice.ts
Due: none

feat : 환자선택, 메세지 입력 후 AI 분석 요청 로직 구현
  FrontEnd/src/apis/Patient.ts
  FrontEnd/src/app/main/components/Default/Input.tsx
  FrontEnd/src/components/PatientDB/Modality.tsx
  FrontEnd/src/redux/features/main/mainSlice.ts
Due: none

Path conditions:
  cloud_backend_webhook_trigger: any of: BackEnd/cloud/**
  cloud_frontend_webhook_trigger: any of: FrontEnd_Cloud/**
  onpremise_backend_webhook_trigger: any of: BackEnd/onpremise/**
  onpremise_frontend_webhook_trigger: any of: FrontEnd/**
