Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

cloud_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

onpremise_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

fix: 반환값 수정
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/agent/controller/AgentController.java
Due: none

fix: add auota create
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/kafka/consumer/KafkaConsumer.java
Due: none

feat : 챗봇 api 연결
  FrontEnd/src/apis/Patient.ts
  FrontEnd/src/app/main/components/Default/Input.tsx
  FrontEnd/src/app/main/components/Diagnosis/ChatLayout.tsx
  FrontEnd/src/app/main/page.tsx
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.tsx
Due: none

feat: SSE 및 notification 구현
  BackEnd/cloud/build.gradle
  BackEnd/cloud/src/main/java/com/newmes/cloud/CloudApplication.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/controller/UsageController.java
  BackEnd/onpremise/build.gradle
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/OtpResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/request/NotificationRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/request/NotificationUpdateRequest.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/response/NotificationResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/entity/NotificationEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/repository/NotificationRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/service/NofiticationServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/service/NotificationService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/report/entity/ReportEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticSearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/SecurityConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/util/SseEmitters.java
Due: cloud_backend_webhook_trigger, onpremise_backend_webhook_trigger

feat: add sse pipeline
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/request/NotificationRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/dto/response/NotificationResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/entity/NotificationEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/kafka/consumer/KafkaConsumer.java
Due: none

fix: gradle add
  BackEnd/cloud/build.gradle
Due: cloud_backend_webhook_trigger

feat: cloud API 연결
  FrontEnd_Cloud/package-lock.json
  FrontEnd_Cloud/package.json
  FrontEnd_Cloud/src/apis/fetchClientModify.ts
  FrontEnd_Cloud/src/apis/fetchLimit.ts
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientInfo/ClientInfo.module.scss
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientInfo/ClientInfo.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientModify/ClientModify.module.scss
  FrontEnd_Cloud/src/app/main/[clientId]/components/ClientModify/ClientModify.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/components/WarningModal/WarningModal.module.scss
  FrontEnd_Cloud/src/app/main/[clientId]/components/WarningModal/WarningModal.tsx
  FrontEnd_Cloud/src/app/main/[clientId]/page.tsx
  FrontEnd_Cloud/src/redux/features/modal/modalSlice.ts
Due: cloud_frontend_webhook_trigger

feat: SSE 인증 방식 변경
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
Due: none

fix: debug member update
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/consumer/KafkaOffsetMonitorController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/kafka/service/KafkaOffsetMonitor.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/entity/MemberEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/exception/MemberNotFoundException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/exception/ValidateMemberException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/member/service/MemberServiceImpl.java
Due: none

feat: "middleware 추가, 마이페이지 탭 변경 로직 추가, 수정 api 작업 중"
  FrontEnd/next.config.js
  FrontEnd/src/apis/fetchLogin.ts
  FrontEnd/src/apis/fetchLogout.ts
  FrontEnd/src/apis/fetchRegist.ts
  FrontEnd/src/apis/user.ts
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd/src/app/mypage/components/MyPageInfo/MyPageInfo.tsx
  FrontEnd/src/app/mypage/components/MyPageTab/MyPageTab.tsx
  FrontEnd/src/app/mypage/components/NameInput/NameInput.tsx
  FrontEnd/src/app/mypage/components/UserProfile/UserProfile.tsx
  FrontEnd/src/app/mypage/layout.tsx
  FrontEnd/src/app/mypage/page.tsx
  FrontEnd/src/components/SideBar/SideBar.tsx
  FrontEnd/src/middleware.ts
  FrontEnd/src/redux/features/user/userSlice.ts
  FrontEnd/src/utils/cookie.ts
Due: onpremise_frontend_webhook_trigger

hotfix: 프론트 빌드 에러 해결
  FrontEnd/src/components/Tabs/Tab.stories.tsx
Due: none

fix: noti debug
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
Due: none

fix: SSE 연결 방식 변경
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
Due: none

chore: change server
  FrontEnd/dockerfile
  FrontEnd/jenkinsfile
Due: onpremise_frontend_webhook_trigger

feat:add read patirent agent-image
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/controller/PatientController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepository.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientNotFoundException.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientService.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/exception/GlobalExceptionHandler.java
Due: none

fix: SSE 반환 오류 해결
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
Due: none

fix: 반환타입 변경
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/notification/controller/NotificationController.java
Due: none

fix: debug
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/controller/PatientController.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientService.java
Due: none

fix: 미들웨어 안되서 롤백, 원시방법으로 갑시다
  FrontEnd/next.config.js
  FrontEnd/src/apis/user.ts
  FrontEnd/src/app/regist/components/RegistInput/RegistInput.tsx
  FrontEnd/src/middleware.ts
Due: onpremise_frontend_webhook_trigger

feat : SSE 연결
  FrontEnd/.eslintrc
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/apis/alarm.ts
  FrontEnd/src/app/login/components/LoginInput/LoginInput.tsx
  FrontEnd/src/app/main/components/Diagnosis/ChatLayout.tsx
  FrontEnd/src/app/main/layout.tsx
  FrontEnd/src/components/Alarm/SEEHandler.tsx
  FrontEnd/src/components/PatientDB/Modality.tsx
  FrontEnd/src/components/PatientDB/PatientDB.tsx
  FrontEnd/src/components/SideBar/SideBar.tsx
  FrontEnd/src/components/Tabs/Tab.stories.tsx
  FrontEnd/src/redux/features/alarm/alarmSlice.ts
  FrontEnd/src/redux/store/store.ts
Due: onpremise_frontend_webhook_trigger

Path conditions:
  cloud_backend_webhook_trigger: any of: BackEnd/cloud/**
  cloud_frontend_webhook_trigger: any of: FrontEnd_Cloud/**
  onpremise_backend_webhook_trigger: any of: BackEnd/onpremise/**
  onpremise_frontend_webhook_trigger: any of: FrontEnd/**
