Repository yujachaa/Medical-Copilot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cloud_backend_webhook_trigger, cloud_frontend_webhook_trigger, onpremise_backend_webhook_trigger, onpremise_frontend_webhook_trigger

cloud_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_back"

cloud_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_cloud_front"

onpremise_backend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_back"

onpremise_frontend_webhook_trigger:
  stage: trigger
  script:
  - curl -X POST "https://k11s205.p.ssafy.io/jenkins/project/newmes_onpremise_front"

fix: anotation error fix
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/request/PatientRequestDto.java
Due: none

fix : package.json
  FrontEnd/package.json
Due: onpremise_frontend_webhook_trigger

feat: 사진편집 모달 추가
  FrontEnd/src/app/chat/[id]/components/report/Diagnosis.tsx
  FrontEnd/src/app/chat/[id]/components/report/EditModal.module.scss
  FrontEnd/src/app/chat/[id]/components/report/EditModal.tsx
  FrontEnd/src/app/chat/[id]/components/report/ImageSection.tsx
  FrontEnd/src/app/chat/[id]/components/report/ReportData.module.scss
  FrontEnd/src/app/chat/[id]/components/report/Summary.tsx
Due: none

fix : package
  FrontEnd/package.json
Due: onpremise_frontend_webhook_trigger

feat : Header 연결 및 탭 URL 구현
  FrontEnd/src/app/main/[id]/page.module.scss
  FrontEnd/src/app/main/components/checkIndex.tsx
  FrontEnd/src/app/main/page.tsx
  FrontEnd/src/components/Header/Header.tsx
Due: none

fix : story duplicate
  FrontEnd/src/app/main/page.stories.tsx
Due: none

chore: fix port number
  BackEnd/onpremise/jenkinsfile
Due: onpremise_backend_webhook_trigger

chore: fix port number
  FrontEnd/dockerfile
Due: onpremise_frontend_webhook_trigger

chore: fix trigger rules
  .gitlab-ci.yml
Due: none

fix : 스토리북 page approuter error fix
  FrontEnd/src/app/main/[id]/page.stories.tsx
  FrontEnd/src/app/main/[id]/page.tsx
  FrontEnd/src/components/Tabs/TabBoard/SmallTabBoard.module.scss
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.module.scss
  FrontEnd/src/components/Tabs/TabBoard/TabBoard.tsx
Due: none

chore: fix next start port
  FrontEnd/package.json
Due: onpremise_frontend_webhook_trigger

fix: patient logic fix
  BackEnd/onpremise/build.gradle
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/domain/Modality.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/domain/Patient.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/request/PatientRequestDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/dto/response/PatientResponseDto.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/entity/PatientEntity.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepositoryCustom.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/repository/PatientRepositoryImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/domains/patient/service/PatientServiceImpl.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/ElasticsearchConfig.java
  BackEnd/onpremise/src/main/java/com/newmes/onpremise/global/config/JacksonConfig.java
Due: onpremise_backend_webhook_trigger

chore: feat basePath for server
  FrontEnd/next.config.js
Due: onpremise_frontend_webhook_trigger

feat : 프리티어 json 추가
  FrontEnd/package.json
Due: onpremise_frontend_webhook_trigger

feat : PWA 설정
  FrontEnd/next.config.js
  FrontEnd/package-lock.json
  FrontEnd/public/icon512_maskable.png
  FrontEnd/public/icon512_rounded.png
  FrontEnd/public/manifest.json
  FrontEnd/src/app/layout.tsx
Due: onpremise_frontend_webhook_trigger

chore: fix basepath for build
  FrontEnd/next.config.js
Due: onpremise_frontend_webhook_trigger

feat: 환자 DB 모달 추가
  FrontEnd/src/app/test/page.tsx
  FrontEnd/src/components/PatientDB/PatientDB.module.scss
  FrontEnd/src/components/PatientDB/PatientDB.tsx
Due: none

chore: fix basepath
  FrontEnd/next.config.js
Due: onpremise_frontend_webhook_trigger

fix : 진료기록 아이콘 수정
  FrontEnd/src/app/main/components/Input.module.scss
  FrontEnd/src/app/main/components/Input.tsx
Due: none

feat: 에이전트 사용 횟수 API
  BackEnd/cloud/build.gradle
  BackEnd/cloud/src/main/java/com/newmes/cloud/CloudApplication.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/controller/UsageController.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/AgentAggregationResult.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/dto/response/AgentCounts.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/repositoryES/ElasticUsageRepository.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageService.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/domains/usage/service/UsageServiceImpl.java
  BackEnd/cloud/src/main/java/com/newmes/cloud/global/config/ElasticSearchConfig.java
Due: cloud_backend_webhook_trigger

Path conditions:
  cloud_backend_webhook_trigger: any of: BackEnd/cloud/**
  cloud_frontend_webhook_trigger: any of: FrontEnd_Cloud/**
  onpremise_backend_webhook_trigger: any of: BackEnd/onpremise/**
  onpremise_frontend_webhook_trigger: any of: FrontEnd/**
